.main_box {
    border: solid 2px #270c17; 
    //border: solid 5px #eae3ea; // SLATE
    border-radius: 5px;
}

.sidebar {
    background-color: #B56357; // RUST
}

button {
    color: #e6cbe6;   
    border: solid 2px #B56357; // RUST
}

.add{
    color: white;
    background-color: #b4dbc0; // MINT
}


label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.message {
    border-radius: 5px;
    padding: 10px;
    background-color: #A7B3A5; // SEA-FORM
}

.empty_message {
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
}
